
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html {
  background: black;
}

.App {
  width: 100vw;
  height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
  max-height: 100vh;
  max-width: 177.78vh; /* 16/9 = 1.778 */
  margin: auto;
  position: absolute;
  top:0;bottom:0; /* vertical center */
  left:0;right:0; /* horizontal center */
  background: black;
}

.App .AppContainer {
  height: 100%;
  overflow: hidden;
}

.App .Intro video {
  width: 100%;
}

.App .Grid .col img {
  width: 100%;
}

.App .Grid .col {
  padding: 0;
}

.green {
  width: 100%;
  height: 100%;
  padding-bottom: 56.25%;
  background-color: #159867;
}

.spinner {
  width: 100%;
  height: 100%;
  background-color: #159867;
}

.spinner .spinner-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.App .Slideshow video {
  width: 100%;
}

.App .Slideshow img {
  width: 100%;
  height: 100%;
}

.App .Slideshow .logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 20px;
  right: 20px;
}
